################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs/BECodingChallenge/FileContentIndex/ac500eaa-5b7c-49ee-b0b7-ae4d5040fd95.vsidx
/.vs/BECodingChallenge/FileContentIndex/2a1ef31b-f10e-4a61-b8c1-b69fd00df056.vsidx
/.vs/BECodingChallenge/FileContentIndex/2d79f411-5c91-4915-9676-6b7f5a915098.vsidx
