################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs/BECodingChallenge/FileContentIndex/ac500eaa-5b7c-49ee-b0b7-ae4d5040fd95.vsidx
